
body{
    font-family: 'Poppins', sans-serif;
}

#nav__name{
    font-size: 1.5em;
    color: #fff;
    text-decoration-color: #fff;
}

#nav__subname{
    color: #fff;
    font-style: oblique;
    text-decoration-color: #fff;
}

#nav__subname:hover{
    color: rgb(30, 229, 215);
    text-decoration-color: #fff;
}


#logo_img{
    width:50px;
    height:50px;
    border-radius:150px;
    margin-right: 10px;
}

#btdropdown{
    background-color: rgb(30, 229, 215);
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.nav-item-right{
    position: absolute;
    right: 0 !important;
    margin-right: 40px;
}