body {
    background-color: #7cadd3 !important;
}

.title {
    margin: 4% 0;
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #000000; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac;
    }

#title-entidad{
    justify-content: center;
    text-align: center;

}

table {
    table-layout: fixed;
}

/* Tabla estilo cebra */
table tr:nth-child(even) {
    background-color: #f7ef9a;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

.form-group{
    margin: 1% 0;
}

button{
    margin-bottom: 3% !important;
} 